/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .container {
        max-width: 960px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    header.with-background,
    header {
        .top-nav {
            flex-direction: column;

            .logo {
                margin: auto;
            }

            ul {
                margin: 20px auto 0;
                width: 80%;
            }
        }

        .hero {
            grid-template-columns: 1fr; // stacked in 1 rows with 1 fraction each column
            text-align: center;

            .hero-image {
                padding-left: 0;
                margin-top: 40px;
            }
        }
    }

    .featured-section {
        padding: 50px 0; // top & bottom 50, right & left 0

        .products {
            grid-template-columns: 1fr; // stacked in 1 rows with 1 fraction each column
        }
    }

    .blog-section {
        .blog-posts {
            grid-template-columns: 1fr; // stacked in 1 rows with 1 fraction each column
            text-align: center;
            grid-template-areas:
                "blog3"
                "blog2"
                "blog1";

            .blog-post {
                margin-top: 30px;
            }

        }
    }

    .footer-content {
        flex-direction: column;

        .made-with {
            margin: auto;
        }

        ul {
            margin: 20px auto;
            width: 60%;
        }
    }

    .breadcrumbs {
        text-align: center;
    }

    .products-section {
        grid-template-columns: 1fr; // stacked in 1 rows with 1 fraction each column

        .sidebar {
            text-align: center;
        }

        .products {
            /* origin is 1fr not 1fr 1fr */
            grid-template-columns: 1fr 1fr; // stacked in 1 rows with 2 fraction each column
        }
    }

    .product-section {
        grid-template-columns: 1fr; // stacked in 1 rows with 1 fraction each column
    }

    .might-like-section .might-like-grid {
        grid-template-columns: 1fr; // stacked in 1 rows with 1 fraction each column
    }

    .cart-section {

        grid-template-columns: 1fr;

        .cart-buttons {
            flex-direction: column;
            text-align: center;
            /* I'm adding this */
            margin: 5px;

            .button {
                /* I'm adding this */
                margin-bottom: 5px;

            }
        }

        .cart-table-row {
            .cart-table-row-left {
                width: 30%;

                .cart-item-details {
                    .cart-table-item {
                        /* I'm adding this */
                        white-space: nowrap;
                        width: 190px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            .cart-table-row-right {
                /* origin is 55% */
                width: 65%;
            }

            img {
                display: none;
            }

        }

        .have-code-container {
            width: 100%;
        }

        .cart-totals {
            flex-direction: column;

            .cart-totals-left {
                width: 100%;
                margin-bottom: 20px;
            }

            .cart-totals-right {
                width: 100%;
            }
        }

    }


    .checkout-section {
        grid-template-columns: 1fr; // stacked in 1 rows with 1 fraction each column

        .checkout-table-container {
            margin-left: 10px;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    header {
        .hero {
            .button {
                /* I'm adding this */
                margin-right: 10px !important;
                margin-left: 10px;
            }
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .cart-section {
        .cart-table-row {
            .cart-table-row-left {
                .cart-item-details {
                    .cart-table-item {
                        /* I'm adding this */
                        white-space: nowrap;
                        width: 100px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

    header.with-background,
    header {
        .hero {
            .button {
                /* I'm adding this */
                margin-right: auto !important;
                margin-left: auto;
            }
        }
    }
}
